{{!
    @template theme_academi/login
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}
    <div id="page-wrapper" class="d-print-block">
        {{{ output.standard_top_of_body_html }}}
        {{> theme_academi/header }}
        <div id="page" class="container-fluid">
            <div id="page-content" class="row">
                <div id="region-main-box" class="col-12">
                    <section id="region-main">
                        {{{ output.main_content }}}
                    </section>
                </div>
            </div>
        </div>
        {{> theme_academi/footer }}
    </div>
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}